.container {
    display: grid;
    grid-template-columns: repeat(var(--items), min(calc(50vh/var(--items)), calc(50vw/var(--items))));
    grid-template-rows: repeat(var(--items), min(calc(50vh/var(--items)), calc(50vw/var(--items))));
    align-content: center;
    justify-content: center;
  }
  
.item {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
  }

.item:nth-child(odd) {
    background-color: rgb(230, 230, 230);
  }

.item:nth-child(even) {
    background-color: rgb(240, 240, 240);
  }

.input-odd {
    background-color: rgb(230, 230, 230);
    border: rgb(230, 230, 230);
    font-size: 300%;
    max-width: 40%;
    margin-left: 30%;
}

.input-child {
    background-color: rgb(240, 240, 240);
    border: rgb(240, 240, 240);
    font-size: 300%;
    max-width: 40%;
    margin-left: 30%;
}

:focus {
    outline: none;
}